<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    {{>navbar}}
    <div>
       <div class="row">
         <div class="col-md-8 col-12 mx-auto error">
            <img src="images/404.jpg" alt="">
            <a href="/"><button class="btn">Go back to home</button></a>
        </div>
       </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>