<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    {{>navbar}}

    <!-- main wrapper -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                         <img src="images/dev.webp" alt="">
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>Hii! i am <span> sachin </span>. i am a <span>mearn stack developer</span></h1>
                        <a  href="/weather"><button class="btn btn-outline-primary">About us</button></a>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
   {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>