<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    {{>navbar}}
<div class="container-fluid main_header">
        <div class="row weather">
            <div class="col-md-10 col-12 mx-auto">
               <div class="main_content">
                  <form action="" class="temp_form">
                     <input type="text" id="cityName" placeholder="enter you city name" autocomplete="off"> 
                     <input type="submit" value="search" id="submitButton">
                  </form>
               </div>
               <div class="temp_info mx-auto">
                  <div class="top_content">
                     <p id="day">thursday</p>
                     <p id="today">26 April</p>
                  </div>
                  <div class="main_info">
                     <p id="city_name">get output here</p>
                     <div class="middle data_hide">
                        <p ><span id="temp">0</span> <sup>o</sup>C</p>
                        <p><span  id="temp_status"><i class='fa-solid fa-sun'></i></span></p>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>


     {{>footer}}
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
     <script src="js/main.js"></script>
</body>
</html>